*
{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

/*----------------------------------GEMEENSCHAPPELIJKE CODE (Navigatie)---------------------------*/
#main
{
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
}

h1#verzending
{
    padding: 1%;
    width: 100%;
    max-width: 100%;
    color: white;
    background-color: black;
    text-align: center;
    font-size: 100%;
    
}

/*------------------------------------------Navigatie---------------------------------*/
nav
{
    font-size: 12px; 
}

nav ul
{
    padding: 1%;
    text-align: center;
    width: 100%;
    display: flex;
}

nav ul li 
{
    list-style: none;
    text-transform: uppercase;
    
}

div#main-nav
{
    padding: 1%;
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
}

div#nav-rechts
{
    
}

div#nav-links
{
    padding-right: 35%;
    overflow: hidden;
}

div#nav-links .icon
{
    display: none;
}

nav ul li a 
{
    text-decoration: none;
    color: black;
}

div#nav-links ul li
{
    padding-left: 15%;
}

div#nav-rechts ul li
{
    padding-left:50%;
}

a img#logo
{
    max-height: 100%;
    display: block;
    max-width: 350px;
    width: 100%;
}

#shoppingbag, #user
{
    width: 25px;
}










/*--------------------------------------------------Home page-----------------------------*/

#video
{
    position: relative;
}

#voor-video
{
    position: absolute;
    padding-top: 25%;
    top: 0px;
    padding-left: 45%;
    z-index: 1;
}

div#position-shop-nu
{
    
    margin-right: 40%;
}

button#shop-nu
{
   
    display: flex;
    align-items: center;
    justify-content: center;
    width: 235px;
    height: 60px;
    color: white;
    font-size: 12px;
    font-weight: 400;
    background-color: transparent;
    border: 1px solid;
    transition: all 0.5s ease-in-out;
    letter-spacing: 1px;
}


button#shop-nu:hover
{
    background-color: white;
    color: black;
    transition: all 0.5s ease-in-out;
}

#alleen-producten
{
    background-color: rgba(220, 220, 220, 0.527);
}
#container-producten
{
    width: 100%;
}

#geslacht
{
    padding-top: 5%;
    top: 0;
    height: 100%;
    padding-left: 44%;
    
   
}

#btn-man, #btn-vrouw
{
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 5px;
    transition: 0.5s;
}

#btn-man
{
    background-color: transparent;
    transition: 0.5s;
    width: 50px;
    border: 0;
}

#btn-vrouw
{
    margin-left: 10%;
    background-color: transparent;
    border: 0;
   
}

#btn-man:hover, #btn-vrouw:hover
{
    font-size: 25px;
    transition-duration: 0.5s;
    font-weight: 300;
}


#container-verkoop
{
    padding-left: 90px;
    width: 100%;
    
}

#p-trend
{
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-bottom: 40px;
    font-size: 25px;
    padding-left: 110px;
    padding-top: 60px;
    transition-duration: 0.5s ease-in-out;
}


/*-----------------------------------Product-pagina(Producten) ALLES is met CLASS------------*/

div.Product
{
    padding: 0 0 100px 24px;
    margin: 0;
    display: inline-block;
    text-align: center;   
}

.foto-container
{
    
    position: relative;
    transition: .3s ease;
}

img.Kleed-foto
{
    
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: 420px;
    max-height: 600px;

    transition: .3s ease;
}

.hover-pic
{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    max-height: 600px;
    max-width: 420px;
    transition: 1s ease;
    
}

.foto-container:hover .hover-pic
{
    display: inline;
    transition: 1s;
    
}

.brand-name
{
    padding-top: 20px;
    letter-spacing: 2px;
    font-size: 15px;
    text-transform: uppercase;
}

/*------------------------------------------------------Prijs style*/
.prijs , .prijs-kortring, .originale-prijs-korting
{
    padding-top: 10px;
    
}

.prijs , .originale-prijs-korting
{
    color: gray;
}

.originale-prijs-korting
{
    text-decoration: line-through;
}

.korting
{
    color: red;
    padding-left: 10px;
}

/*----------------------------------------------------Product kleur*/
.kleur-box
{
    padding-top: 10px;
}

.kleur
{
    width: 100%;
    max-width: 20px;
}

div#main-longpicture1
{
    position: relative;
}

#main-langfoto1
{
    height: 100%;
    width: 100%;
   position: relative;
   z-index: 0;

}

#container-langfoto
{
    
  
}

#longpicture-text
{
    position: fixed;
    color: red;
    z-index: 1;
}







/*RWD MEDIA SCREEN INSTELLEN */

@media screen and (max-width: 1850px) and (min-width: 1800px) 
{
    img.Kleed-foto , .hover-pic
    {
        max-width: 400px;
        max-height: 580px;
    }

    
}
/*------------------------------------------------------------------------------------*/
@media screen and (max-width: 1800px) and (min-width: 1735px) 
{
    img.Kleed-foto , .hover-pic
    {
        max-width: 380px;
        max-height: 560px;
    }

    .brand-name , .prijs
    {
        font-size: 14px;
    }

    .kleur
    {
        max-width: 19px;
    }
}
/*------------------------------------------------------------------------------------*/
@media screen and (max-width: 1720px) and (min-width: 1745px) 
{
    img.Kleed-foto , .hover-pic
    {
        max-width: 360px;
        max-height: 540px;
    }

    .brand-name , .prijs
    {
        font-size: 13px;
    }

    .kleur
    {
        max-width: 17px;
    }

}
/*------------------------------------------------------------------------------------*/
@media screen and (max-width: 1745px) and (min-width: 1665px) 
{
    img.Kleed-foto , .hover-pic
    {
        max-width: 340px;
        max-height: 520px;
    }

    .brand-name , .prijs
    {
        font-size: 12.5px;
    }

    .kleur
    {
        max-width: 16px;
    }

}
/*------------------------------------------------------------------------------------*/
@media screen and (max-width: 1665px) and (min-width: 1580px) 
{
    img.Kleed-foto , .hover-pic
    {
        max-width: 320px;
        max-height: 500px;
    }

    .brand-name , .prijs
    {
        font-size: 12px;
    }

    .kleur
    {
        max-width: 16px;
    }

}
/*------------------------------------------------------------------------------------*/
@media screen and (max-width: 1580px) and (min-width: 1500px) 
{
    img.Kleed-foto , .hover-pic
    {
        max-width: 300px;
        max-height: 480px;
    }

    .brand-name , .prijs
    {
        font-size: 11.5px;
    }

    .kleur
    {
        max-width: 15px;
    }

}
/*------------------------------------------------------------------------------------*/
@media screen and (max-width: 1500px) and (min-width: 1425px) 
{
    img.Kleed-foto , .hover-pic
    {
        max-width: 290px;
        max-height: 470px;
    }

    div.Product
    {
        padding-left: 10px;
    }

    .brand-name , .prijs
    {
        font-size: 11px;
    }

    .kleur
    {
        max-width: 15px;
    }
}
/*------------------------------------------------------------------------------------*/
@media screen and (max-width: 1425px) and (min-width: 1080px) 
{
    img.Kleed-foto , .hover-pic
    {
        max-width: 380px;
        max-height: 560px;
    }

    #container-verkoop
    {
        padding: 0 0 0 20% ;
    }

    div.Product
    {
        padding-left: 10px;
    }

    .brand-name , .prijs
    {
        font-size: 14px;
    }

    .kleur
    {
        max-width: 19px;
    }

    #p-trend
    {
        padding-left: 21%;
        width: 100%;
    }

    .nav-links a:not(:first-child) {display: none;}
    .nav-links a.icon 
    {
        float: left;
        display: block;
    }

    .nav-links .responsive {position: relative;}
    .nav-links .responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav-links .responsive a {
      float: none;
      display: block;
      text-align: left;
    }

    
}

@media screen and (max-width: 1080px) and (min-width: 900px) 
{
    img.Kleed-foto , .hover-pic
    {
        max-width: 360px;
        max-height: 540px;
    }
    
}

@media screen and (max-width: 900px) and (min-width: 765px)
{
    img.Kleed-foto , .hover-pic
    {
        max-width: 300px;
        max-height: 480px;
    }
    
}

@media screen and (max-width: 765px)
{
    img.Kleed-foto , .hover-pic
    {
        max-width: 450px;
        max-height: 630px;
    }

    #container-verkoop
    {
        padding-left: 0px;
         
    }
    
  

}
/*------------------------------------------------------------------------------------*/

@media screen and (max-width: 850px) and (min-width: 600px)
{

    nav
    {
        width: 100%;
    }
    img#logo
    {
       max-width: 100%;
        
    }

    nav ul li#nav-links
    {
        padding-left: 2%;
    }
}
/*------------------------------------------------------------------------------------*/
@media screen and (max-width: 600px)
{
    nav ul li 
    {
        font-size: 15px;
    }

    div#nav-links
    {
        display: none;
    }
    
    div#nav-rechts
    {
        padding-left: 25%;
    }

    nav
    {
        width: 100%;
    }

    img#logo
    {
       
        width: 300px;
        margin-left: 50%;
    }

    h1#verzending
    {
        font-size: 80%;
    }
}









/*----------------------------------HOME PAGINA---------------------------------------*/


