*
{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

/*----------------------------------GEMEENSCHAPPELIJKE CODE---------------------------*/
#main
{
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
}

h1#verzending
{
    padding: 1%;
    width: 100%;
    max-width: 100%;
    color: white;
    background-color: black;
    text-align: center;
    font-size: 100%;
    
}

/*------------------------------------------Navigatie---------------------------------*/
nav
{
    font-size: 12px;
    
}

nav ul
{
    padding: 1%;
    text-align: center;
    width: 100%;
    display: flex;
}

nav ul li 
{
    list-style: none;
    text-transform: uppercase;
    
}

div#main-nav
{
    padding: 1%;
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
}

div#nav-rechts
{
    
}

div#nav-links
{
    padding-right: 35%;
}

nav ul li a 
{
    text-decoration: none;
    color: black;
}

div#nav-links ul li
{
    padding-left: 15%;
}

div#nav-rechts ul li
{
    padding-left:50%;
}

a img#logo
{
    max-height: 100%;
    display: block;
    max-width: 350px;
    width: 100%;
}

#shoppingbag, #user
{
    width: 25px;
}


/*--------------------------Home page-----------------------------*/
div#main-page
{
   
}


#video
{
    position: relative;
}

#voor-video
{
    position: absolute;
    padding-top: 25%;
    top: 0px;
    padding-left: 45%;
    z-index: 1;
}

div#position-shop-nu
{
    
    margin-right: 40%;
}

button#shop-nu
{
   
    display: flex;
    align-items: center;
    justify-content: center;
    width: 235px;
    height: 60px;
    color: white;
    font-size: 12px;
    font-weight: 400;
    background-color: transparent;
    border: 1px solid;
    transition: all 0.5s ease-in-out;
    letter-spacing: 1px;
}


button#shop-nu:hover
{
    background-color: white;
    color: black;
    transition: all 0.5s ease-in-out;
}


#container-producten
{
    width: 100%;
}

#geslacht
{
    padding-top: 5%;
    top: 0;
    height: 100%;
    padding-left: 44%;
    
   
}

#btn-man, #btn-vrouw
{
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 5px;
    transition: 0.5s;
}

#btn-man
{
    background-color: transparent;
    transition: 0.5s;
    width: 50px;
    border: 0;
}

#btn-vrouw
{
    margin-left: 10%;
    background-color: transparent;
    border: 0;
   
}

#btn-man:hover, #btn-vrouw:hover
{
    font-size: 25px;
    transition-duration: 0.5s;
    font-weight: 300;
}

#container-producten
{
    padding-top: 70px;
    padding-left: 40px ;
    padding-right: 40px;
    width: 100%;
    
}

#container-verkoop
{
    
    width: 100%;
    
}

#p-trend
{
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-bottom: 40px;
    font-size: 25px;
    padding-left: 30px;
}

div.Product
{
    padding: 0 0 100px 24px;
    margin: 0;
    display: inline-block;
    font-size: 1rem;
    text-align: center;   
}

.foto-container
{
    
    position: relative;
    transition: .3s ease;
}

img.Kleed-foto
{
    
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: 420px;
    transition: .5s ease;
}



.hover-pic
{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    
    max-width: 420px;
    transition: 1s ease;
    
}

.foto-container:hover .hover-pic
{
    display: inline;
    transition: 1s;
    
}

.brand-name
{
    padding-top: 20px;
    letter-spacing: 2px;
    font-size: 15px;
}

.prijs
{
    padding-top: 5px;
    color: gray;
}


#main-longpicture1
{
    height: 100%;
    width: 100%;
    
}

input[type="radio"]#kleur
{
    border-radius: 2px solid;
    background-color: red;
}





/*RWD MEDIA SCREEN INSTELLEN */
@media screen and (max-width: 850px) and (min-width: 600px)
{

    nav
    {
        width: 100%;
    }
    img#logo
    {
       max-width: 100%;
        
    }

    nav ul li#nav-links
    {
        padding-left: 2%;
    }
}

@media screen and (max-width: 600px)
{
    nav ul li 
    {
        font-size: 15px;
    }

    div#nav-links
    {
        display: none;
    }
    
    div#nav-rechts
    {
        padding-left: 25%;
    }

    nav
    {
        width: 100%;
    }

    img#logo
    {
       
        width: 300px;
        margin-left: 50%;
    }

    h1#verzending
    {
        font-size: 80%;
    }
}









/*----------------------------------HOME PAGINA---------------------------------------*/


